{% extends 'base.html' %}

{% block content %}

	{% if employee %}
    	<!-- <img src="../static/profile_pictures/Carl_B_070.jpg" height="100" width="100"> -->
	    <div class="row">
	        <div class="col-md-4">
	        	<h3><a href="/directory/employee/message/{{ employee.id }}/">{{ employee.full_name }}</a></h3>
		        <p><span>Title: </span>{{ employee.title }}</p>
		        <p><span>Start Date: </span>{{ employee.start_date }}</p>
		        <p><span>Office: </span>{{ employee.office }}</p>
		        <p><span>Bio: </span>{{ employee.description }}</p>
	        </div>
	    </div>
	{% endif %}

	{% if groups %}
	    <div class="row">
	    {% for group in groups %}
	        <div class="col-md-2">
	        	<div class="panel panel-primary panel-small">
		        	<p class="panel-body"><a href="/directory/group/{{ group.id }}/">{{ group.group.name }}  {{ group.type }}</a></p>
	        	</div>
	        </div>
	    {% endfor %}
	    </div>
	{% endif %}

{% endblock %}
