{% extends 'base.html' %}

{% block headerblock %}
	<p>{{ header }}</p>
{% endblock %}

{% block content %}
	{% if group %}
	    <div class="sub-header">
	        <h3>Description: {{ group.description }}</h3>
	    </div>
	{% endif %}

	<div class="panel panel-default">
		{% if employees %}
		    <ul class="list-group">
		    {% for employee in employees %}
		        <li class="list-group-item">
		        	<img src="{{ employee.picture }}">
		        	<h4><a href="/directory/employee/{{ employee.id }}/">{{ employee.full_name }}</a></h4>
			        <p>{{ employee.title }}</p>
		        </li>
		    {% endfor %}
		    </ul>
		{% endif %}
	</div>
{% endblock %}