{% extends 'feedboard.html' %}

{% block feedpostblock %}
    <form class="form-inline" method="post" action="post-item/">
        <div class="form-group">
            {% csrf_token %}
            <input type="text" id="news-feed" class="form-control" name="content" placeholder="News feed...">
            <input type="submit" class="form-control" value="Post">
        </div>
    </form>
{% endblock %}

{% block feedblock %}

    <div class="panel panel-default">
		{% if newsfeed %}
		    <ul class="list-group">
		    {% for feed in newsfeed %}
		        <li class="list-group-item">
		        	<h4><a href="/directory/employee/{{ feed.writer_id }}/">{{ feed.writer_full_name }}</a></h4>
                    <p>{{ feed.time_stamp }}</p>
			        <p>{{ feed.text }}</p>
		        </li>
		    {% endfor %}
		    </ul>
		{% endif %}
	</div>

{% endblock %}