{% extends 'base.html' %}

{% block headerblock %}
	<h1>{{ header }}</h1>
{% endblock %}

{% block content %}
	{% if groups %}
	    <div class="row">
	    {% for group in groups %}
	        <div class="col-md-4">
	        	<div class="panel panel-primary">
		        	<p class="panel-body"><a href="/directory/group/{{ group.id }}/">{{ group.group.name }}</a></p  class="panel-body">
	        	</div>
	        </div>
	    {% endfor %}
	    </div>
	{% else %}
	    <p>No groups are available.</p>
	{% endif %}
{% endblock %}