body {
	background-color: #F5F8FA;
}

.navbar {
	background-color: #2CACE3;
	border-bottom: solid;
	border-color: white;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	font-size: 1.5em;
	float: right;
}

.navbar-inverse .navbar-brand {
	color: white;
	font-size: 1.5em;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	background-color: #005695;
}

.header {
	text-align: center;
	color: #2CACE3;
	font-size: 4em;
}

.sub-header {
	text-align: center;
	color: #2CACE3;
	font-size: 4em;
	margin-top: -0.5em;
}

.search {
	margin-top: -20px;
	margin-bottom: 100px;
}

.search-input {
	font-size: .65em;
	border-radius: 5px;
	border-style: solid;
	border-color: #EDEFF0;
	border-width: 2px;
	font-weight: 200;
	padding-left: 10px;
}

.search-btn {
	font-size: .65em;
	border-radius: 5px;
	border-color: #EDEFF0;
	border-width: 2px;
	font-weight: 200;
}

.btn {
	color: #2CACE3;
	padding: 1px 12px;
}

.list-group-item a {
	color: #2CACE3;
}

.list-group-item p {
	color: gray;
}

.panel-body {
	text-align: center;
}

.panel-primary {
	background-color: #2CACE3;
	padding-top: 2em;
	padding-bottom: 2em;
	border: none;
}

.panel-small {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.panel-primary a {
	color: white;
	font-size: 2em;
}